export PPG_OUTPUT_FILE="~/Downloads/$(basename $PWD).txt"
export PPG_JSON_OUTPUT_FILE="~/Downloads/$(basename $PWD).json.txt"
export PPG_TREE_JSON_OUTPUT_FILE="~/Downloads/$(basename $PWD).tree.json.txt"
export PPG_ENABLE_CLIPBOARD="true"
